# Libraries

In [1]:
# Core Libraries 
import pandas as pd
import numpy as np
import requests


# Yahoo finance
import yfinance as yf

#For Pattern
import re

#For Api Key
from dotenv import load_dotenv
import os


# Warning Signs
import warnings
warnings.filterwarnings('ignore')

# API KEY Configuration

In [2]:
#API keys hidden for security !!!
load_dotenv()

True

[AlphaVantage Website](https://www.alphavantage.co/documentation/)

[Tiingo Web Site](https://www.tiingo.com/documentation/general/overview)

* Also, you can check Api Key Requests

**Libraries Version**

In [3]:
print(f"Pandas Version: {pd.__version__} \n ----")
print(f"Numpy Version: {np.__version__}\n ----")
print(f"Yahoo Finance Version: {yf.__version__}\n ----")
print(f"Re Version: {re.__version__}\n ----")
print(f"Requests Version: {requests.__version__}")

Pandas Version: 2.2.2
 ----
Numpy Version: 1.26.4
 ----
Yahoo Finance Version: 0.2.43
 ----
Re Version: 2.2.1
 ----
Requests Version: 2.31.0

# Alpha Vantage Company Information

**Company Information**

In [4]:
Ticker = "IBM"

In [5]:
# IBM = International Business Machines Corporation
Company_info_url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={Ticker}&apikey={os.getenv("Alphavantage_key")}'
r_info = requests.get(Company_info_url)
company_info_data = r_info.json()

print(company_info_data)

{'Symbol': 'IBM', 'AssetType': 'Common Stock', 'Name': 'International Business Machines', 'Description': 'International Business Machines Corporation (IBM) is an American multinational technology company headquartered in Armonk, New York, with operations in over 170 countries. The company began in 1911, founded in Endicott, New York, as the Computing-Tabulating-Recording Company (CTR) and was renamed International Business Machines in 1924. IBM is incorporated in New York. IBM produces and sells computer hardware, middleware and software, and provides hosting and consulting services in areas ranging from mainframe computers to nanotechnology. IBM is also a major research organization, holding the record for most annual U.S. patents generated by a business (as of 2020) for 28 consecutive years. Inventions by IBM include the automated teller machine (ATM), the floppy disk, the hard disk drive, the magnetic stripe card, the relational database, the SQL programming language, the UPC barcode, and dynamic random-access memory (DRAM). The IBM mainframe, exemplified by the System/360, was the dominant computing platform during the 1960s and 1970s.', 'CIK': '51143', 'Exchange': 'NYSE', 'Currency': 'USD', 'Country': 'USA', 'Sector': 'TECHNOLOGY', 'Industry': 'COMPUTER & OFFICE EQUIPMENT', 'Address': '1 NEW ORCHARD ROAD, ARMONK, NY, US', 'OfficialSite': 'https://www.ibm.com', 'FiscalYearEnd': 'December', 'LatestQuarter': '2024-06-30', 'MarketCapitalization': '197853381000', 'EBITDA': '14625000000', 'PERatio': '23.71', 'PEGRatio': '4.17', 'BookValue': '26.08', 'DividendPerShare': '6.65', 'DividendYield': '0.0311', 'EPS': '9.06', 'RevenuePerShareTTM': '68.06', 'ProfitMargin': '0.135', 'OperatingMarginTTM': '0.149', 'ReturnOnAssetsTTM': '0.047', 'ReturnOnEquityTTM': '0.362', 'RevenueTTM': '62363001000', 'GrossProfitTTM': '32688000000', 'DilutedEPSTTM': '9.06', 'QuarterlyEarningsGrowthYOY': '0.141', 'QuarterlyRevenueGrowthYOY': '0.019', 'AnalystTargetPrice': '192.96', 'AnalystRatingStrongBuy': '4', 'AnalystRatingBuy': '5', 'AnalystRatingHold': '10', 'AnalystRatingSell': '3', 'AnalystRatingStrongSell': '0', 'TrailingPE': '23.71', 'ForwardPE': '20', 'PriceToSalesRatioTTM': '3.173', 'PriceToBookRatio': '8.23', 'EVToRevenue': '3.913', 'EVToEBITDA': '16.12', 'Beta': '0.693', '52WeekHigh': '216.09', '52WeekLow': '130.68', '50DayMovingAverage': '192.3', '200DayMovingAverage': '179.66', 'SharesOutstanding': '921148000', 'DividendDate': '2024-09-10', 'ExDividendDate': '2024-08-09'}

In [6]:
Company_info = pd.DataFrame(company_info_data.keys())
Company_info.rename(columns={0:"Title"},inplace= True)

words = Company_info["Title"]

words_list = []

for i in range(0,len(words)):
    list_words = words[i]

    pattern = "[A-Z][^A-Z]*"

    x = re.findall(pattern, list_words)
    x_new = " ".join(x).title()
    words_list.append(x_new)

Company_info["Title"] = words_list
Company_info.rename(columns={"index":"Title"}, inplace= True)


values = pd.DataFrame(company_info_data.values())
Company_info["Values"] = values
Company_info

,Title,Values
0,Symbol,IBM
1,Asset Type,Common Stock
2,Name,International Business Machines
3,Description,International Business Machines Corporation (I...
4,C I K,51143
5,Exchange,NYSE
6,Currency,USD
7,Country,USA
8,Sector,TECHNOLOGY
9,Industry,COMPUTER & OFFICE EQUIPMENT
10,Address,"1 NEW ORCHARD ROAD, ARMONK, NY, US"
11,Official Site,https://www.ibm.com
12,Fiscal Year End,December
13,Latest Quarter,2024-06-30
14,Market Capitalization,197853381000
15,E B I T D A,14625000000
16,P E Ratio,23.71
17,P E G Ratio,4.17
18,Book Value,26.08
19,Dividend Per Share,6.65
20,Dividend Yield,0.0311
21,E P S,9.06
22,Revenue Per Share T T M,68.06
23,Profit Margin,0.135
24,Operating Margin T T M,0.149
25,Return On Assets T T M,0.047
26,Return On Equity T T M,0.362
27,Revenue T T M,62363001000
28,Gross Profit T T M,32688000000
29,Diluted E P S T T M,9.06
30,Quarterly Earnings Growth Y O Y,0.141
31,Quarterly Revenue Growth Y O Y,0.019
32,Analyst Target Price,192.96
33,Analyst Rating Strong Buy,4
34,Analyst Rating Buy,5
35,Analyst Rating Hold,10
36,Analyst Rating Sell,3
37,Analyst Rating Strong Sell,0
38,Trailing P E,23.71
39,Forward P E,20
40,Price To Sales Ratio T T M,3.173
41,Price To Book Ratio,8.23
42,E V To Revenue,3.913
43,E V To E B I T D A,16.12
44,Beta,0.693
45,Week High,216.09
46,Week Low,130.68
47,Day Moving Average,192.3
48,Day Moving Average,179.66
49,Shares Outstanding,921148000
50,Dividend Date,2024-09-10
51,Ex Dividend Date,2024-08-09

# Yahoo Finance Stock Prices

In [7]:
CitiBank = yf.download("C")  # C is a symbol of CitiBank in the Stock Market
CitiBank

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
1977-01-03  16.133125  16.236876  16.133125  16.236876   6.933825     47952
1977-01-04  16.236876  16.288750  16.184999  16.288750   6.955973     34217
1977-01-05  16.288750  16.288750  16.133125  16.184999   6.911670     15422
1977-01-06  16.133125  16.133125  15.925625  16.081249   6.867362     39036
1977-01-07  16.081249  16.133125  15.925625  16.133125   6.889513     20482
...               ...        ...        ...        ...        ...       ...
2024-09-09  59.910000  60.669998  58.169998  59.540001  59.540001  19811700
2024-09-10  59.889999  59.889999  56.689999  57.950001  57.950001  22482300
2024-09-11  57.590000  57.590000  56.180000  57.299999  57.299999  16569400
2024-09-12  57.369999  57.860001  56.830002  57.330002  57.330002  12944600
2024-09-13  57.709999  58.279999  57.430000  57.669998  57.669998  10377700

[12027 rows x 6 columns]

# Alpha Vantage Financial Statements

1. FS[0] = Income Statement

2. FS[1] = Balance Sheet

3. FS[2] = Cashflow

In [8]:
FS = ["INCOME_STATEMENT","BALANCE_SHEET","CASH_FLOW"]   # Financial Statements

data = []
IS = {}                                                 # Income Statements
BS = {}                                                 # Balance Sheet
CF = {}                                                 # Cash Flow

for i in FS:
    url = f'https://www.alphavantage.co/query?function={i}&symbol={Ticker}&apikey={os.getenv("Alphavantage_key")}'
    r = requests.get(url)
    data.append(r.json())

    data_df = pd.DataFrame(data)
    
    df = {}
    for i in np.arange(0, len(data_df)):
        df[i] = data_df.iloc[i].get("annualReports")

In [9]:
IS = pd.DataFrame(df[0]).T.reset_index()
BS = pd.DataFrame(df[1]).T.reset_index()
CF = pd.DataFrame(df[2]).T.reset_index()

In [10]:
FS = [IS,BS,CF]     # Combine all statements to one frame

IS_fiscal_Date = IS.iloc[0].to_list()
BS_fiscal_Date = BS.iloc[0].to_list()
CF_fiscal_Date = CF.iloc[0].to_list()

In [11]:
FS = [IS,BS,CF]     # Combine all statements to one frame

IS_fiscal_Date = IS.iloc[0].to_list()
BS_fiscal_Date = BS.iloc[0].to_list()
CF_fiscal_Date = CF.iloc[0].to_list()

IS_index = IS.iloc[1].to_list()
BS_index = BS.iloc[1].to_list()
CF_index = CF.iloc[1].to_list()

FS[0].loc[1] = IS_index
FS[1].loc[1] = BS_index
FS[2].loc[1] = CF_index 

FS_pattern = []

for i in np.arange(0, len(FS)):             # Removing unusefull words
    FS[i].replace("None",0,inplace = True)
    FS[i].fillna(0)

    FS[i].copy
    FS[i].loc[2:,[0,1,2,3,4]] = FS[i].loc[2:,[0,1,2,3,4]].astype("float64")
    
    FS_pattern.append(FS[i]["index"])

FS_pattern[0][1] = "reportedCurrency"

pattern_list = pd.DataFrame()

one = FS_pattern[0]
two = FS_pattern[1]
three = FS_pattern[2]

# Making Capitilazation and seperation of sentences
pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'


FS_0_join = []
for i in np.arange(0, len(one)):
    FS_0_pattern = one[i]
    FS_0_findall = re.findall(pattern,FS_0_pattern)
    FS_0_join.append(" ".join(FS_0_findall).title())
FS[0]["index"] = FS_0_join

FS_1_join = []
for z in np.arange(0, len(two)):
    FS_1_pattern = two[z]
    FS_1_findall = re.findall(pattern,FS_1_pattern)
    FS_1_join.append(" ".join(FS_1_findall).title())
FS[1]["index"] = FS_1_join

FS_2_join = []
for q in np.arange(0, len(three)):
    FS_2_pattern = three[q]
    FS_2_findall = re.findall(pattern,FS_2_pattern)
    FS_2_join.append(" ".join(FS_2_findall).title())
FS[2]["index"] = FS_2_join


index_names = ["INCOME STATEMENT","BALANCE SHEET","CASH FLOW"]  # Combine all clean statements to one frame

FS[0].columns = IS_fiscal_Date
FS[1].columns = BS_fiscal_Date
FS[2].columns = CF_fiscal_Date

FS[0] = FS[0].drop(0)
FS[1] = FS[1].drop(0)
FS[2] = FS[2].drop(0)

FS[0].index.name = index_names[0]
FS[1].index.name = index_names[1]
FS[2].index.name = index_names[2]

In [12]:
IS = FS[0]
BS = FS[1]
CF = FS[2]

In [13]:
IS.T

INCOME STATEMENT,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
fiscalDateEnding,Reported Currency,Gross Profit,Total Revenue,Cost Of Revenue,Costof Goods And Services Sold,Operating Income,Selling General And Administrative,Research And Development,Operating Expenses,Investment Income Net,...,Depreciation,Depreciation And Amortization,Income Before Tax,Income Tax Expense,Interest And Debt Expense,Net Income From Continuing Operations,Comprehensive Income Net Of Tax,Ebit,Ebitda,Net Income
2023-12-31,USD,34300000000.0,61860000000.0,27560000000.0,245000000.0,6979000000.0,19003000000.0,6775000000.0,27321000000.0,0.0,...,2109000000.0,2287000000.0,8678000000.0,1176000000.0,1607000000.0,7514000000.0,5481000000.0,10285000000.0,12572000000.0,7502000000.0
2022-12-31,USD,32687000000.0,60530000000.0,27842000000.0,385000000.0,6408000000.0,18609000000.0,6567000000.0,26279000000.0,0.0,...,2407000000.0,2395000000.0,1013000000.0,-626000000.0,1216000000.0,1783000000.0,8134000000.0,2229000000.0,4624000000.0,1639000000.0
2021-12-31,USD,31486000000.0,57350000000.0,25865000000.0,300000000.0,4786000000.0,18745000000.0,6488000000.0,26700000000.0,0.0,...,3888000000.0,2529000000.0,5867000000.0,124000000.0,1155000000.0,4712000000.0,10582000000.0,7022000000.0,9551000000.0,5743000000.0
2020-12-31,USD,30865000000.0,55179000000.0,24314000000.0,439000000.0,4609000000.0,20561000000.0,6262000000.0,30966000000.0,0.0,...,4227000000.0,2468000000.0,4230000000.0,-1360000000.0,1288000000.0,3932000000.0,4850000000.0,5518000000.0,7986000000.0,5590000000.0
2019-12-31,USD,31533000000.0,57714000000.0,26181000000.0,591000000.0,9004000000.0,18724000000.0,5910000000.0,27484000000.0,0.0,...,4209000000.0,1850000000.0,9491000000.0,60000000.0,1344000000.0,7146000000.0,10324000000.0,10835000000.0,12685000000.0,9431000000.0
2018-12-31,USD,36936000000,79591000000,42655000000,42655000000,10838000000,19366000000,5379000000,26098000000,0,...,3127000000,1353000000,11347000000,2619000000,723000000,8723000000,8252000000,12070000000,13423000000,8728000000
2017-12-31,USD,36943000000,79139000000,42196000000,41703000000,8813000000,19680000000,5590000000,27414000000,0,...,3021000000,1520000000,11395000000,5642000000,615000000,5758000000,8559000000,12010000000,13530000000,5753000000
2016-12-31,USD,38516000000,79919000000,41403000000,40580000000,9715000000,20869000000,5726000000,28579000000,0,...,2837000000,1544000000,12321000000,449000000,630000000,11881000000,12081000000,12951000000,14495000000,11872000000
2015-12-31,USD,40684000000,81741000000,41057000000,40046000000,13333000000,20430000000,5247000000,27351000000,0,...,2662000000,1193000000,15771000000,2581000000,468000000,13364000000,11459000000,16239000000,17432000000,13190000000
2014-12-31,USD,46407000000,92793000000,46386000000,45346000000,16443000000,23180000000,5437000000,28429000000,0,...,3145000000,1347000000,16250000000,4234000000,484000000,15751000000,5742000000,16734000000,18081000000,12016000000
2013-12-31,USD,48684000000,98367000000,49683000000,50136000000,17075000000,23451000000,5743000000,31832000000,0,...,3327000000,1938000000,19839000000,3363000000,402000000,16483000000,37117000000,20241000000,22179000000,16476000000
2012-12-31,USD,50361000000,102874000000,52513000000,53122000000,16082000000,23463000000,5816000000,33946000000,0,...,3392000000,1829000000,22134000000,5541000000,459000000,16604000000,29324000000,22593000000,24422000000,16593000000
2011-12-31,USD,50138000000,106916000000,56778000000,55713000000,16531000000,23594000000,6258000000,34229000000,0,...,3589000000,1779000000,20997000000,5148000000,411000000,15855000000,17603000000,21408000000,23187000000,15849000000
2010-12-31,USD,46014000000,99870000000,53857000000,52757000000,14411000000,21837000000,6026000000,31166000000,0,...,3657000000,1729000000,19714000000,4890000000,368000000,14833000000,29744000000,20082000000,21811000000,14824000000
2009-12-31,USD,43785000000,95758000000,51973000000,50752000000,15792000000,20952000000,5820000000,28395000000,0,...,3773000000,1221000000,18138000000,4713000000,402000000,13425000000,29865000000,18540000000,19761000000,13425000000

## Finance Formulas

In [2]:
'''
headers = {
    'Content-Type': 'application/json'
}
formulas_request = requests.get(f'https://api.tiingo.com/tiingo/fundamentals/definitions?token={os.getenv("Tiingo_key")}', headers=headers)
formulas_data = formulas_request.json()
'''

formulas_data = pd.read_csv("ExcelFolder/Formulas.csv",encoding='utf-8')
formulas_data = formulas_data.drop(["Unnamed: 0"], axis=1)

In [53]:
Formulas = pd.DataFrame(formulas_data)
Formulas

,dataCode,name,description,statementType,units
0,rps,Revenue Per Share,Revenue per share,overview,$
1,roa,Return on Assets ROA,Net Income/Total Assets,overview,%
2,assetTurnover,Asset Turnover,Revenue over assets,overview,NaN
3,bookVal,Book Value,"Book value of the share, assets - liabilities",overview,$
4,bvps,Book Value Per Share,Book Value per each share,overview,$
...,...,...,...,...,...
80,marketCap,Market Capitalization,Size of the company (shares outstanding * shar...,overview,$
81,enterpriseVal,Enterprise Value,An alternative to marketcap that's the theoret...,overview,$
82,shareFactor,Share Factor,Share factor is a multiplicant in the calculat...,overview,NaN
83,trailingPEG1Y,PEG Ratio,PEG ratio using the trailing 1 year EPS growth...,overview,NaN
84,pbRatio,Price to Book Ratio,Price/Book value per share ratio,overview,NaN

**Data Cleaning**

In [54]:
Formulas.isnull().sum()

dataCode          0
name              0
description       0
statementType     0
units            13
dtype: int64

In [55]:
Formulas["units"][Formulas["units"].isnull() == True] = "No Units"
Formulas

,dataCode,name,description,statementType,units
0,rps,Revenue Per Share,Revenue per share,overview,$
1,roa,Return on Assets ROA,Net Income/Total Assets,overview,%
2,assetTurnover,Asset Turnover,Revenue over assets,overview,No Units
3,bookVal,Book Value,"Book value of the share, assets - liabilities",overview,$
4,bvps,Book Value Per Share,Book Value per each share,overview,$
...,...,...,...,...,...
80,marketCap,Market Capitalization,Size of the company (shares outstanding * shar...,overview,$
81,enterpriseVal,Enterprise Value,An alternative to marketcap that's the theoret...,overview,$
82,shareFactor,Share Factor,Share factor is a multiplicant in the calculat...,overview,No Units
83,trailingPEG1Y,PEG Ratio,PEG ratio using the trailing 1 year EPS growth...,overview,No Units
84,pbRatio,Price to Book Ratio,Price/Book value per share ratio,overview,No Units

In [56]:
Formulas.isnull().sum()

dataCode         0
name             0
description      0
statementType    0
units            0
dtype: int64

## Some Formulas Example

1.

In [26]:
Formulas.iloc[0]   # Total Revenue / Total Outstanding Share

dataCode                       rps
name             Revenue Per Share
description      Revenue per share
statementType             overview
units                            $
Name: 0, dtype: object

In [27]:
rps = IS[IS["fiscalDateEnding"] == "Total Revenue"]["2022-12-31"].values[0] / BS[BS["fiscalDateEnding"] == "Common Stock Shares Outstanding"]["2022-12-31"].values[0] 
print(f"Revenue Per Share is {rps} in 2022")

Revenue Per Share is 66.80337265584242 in 2022

2.

In [28]:
Formulas.iloc[1]  # Net Income/Total Assets

dataCode                             roa
name                Return on Assets ROA
description      Net Income/Total Assets
statementType                   overview
units                                  %
Name: 1, dtype: object

In [29]:
roa = IS[IS["fiscalDateEnding"] == "Net Income"]["2022-12-31"].values[0] / BS[BS["fiscalDateEnding"] == "Total Assets"]["2022-12-31"].values[0] 
print(f"Return on Asset is {roa} in 2022")

Return on Asset is 0.012880865745070455 in 2022

3.

In [30]:
Formulas.iloc[2] # Total Sales(Total Revenue) / (2022 Total Asset / 2021 Total 2021)

dataCode               assetTurnover
name                  Asset Turnover
description      Revenue over assets
statementType               overview
units                       No Units
Name: 2, dtype: object

In [31]:
AssetTurnover = IS[IS["fiscalDateEnding"] == "Total Revenue"]["2022-12-31"].values[0] / ((BS[BS["fiscalDateEnding"] == "Total Assets"]["2022-12-31"].values[0] + BS[BS["fiscalDateEnding"] == "Total Assets"]["2021-12-31"].values[0]) / 2) 
print(f"Revenue over assets (Total Asset Turnover) is {AssetTurnover} in 2022")

Revenue over assets (Total Asset Turnover) is 0.4669731989939979 in 2022

4.

In [32]:
Formulas.iloc[3] # total Asset - Total Liabilities

dataCode                                               bookVal
name                                                Book Value
description      Book value of the share, assets - liabilities
statementType                                         overview
units                                                        $
Name: 3, dtype: object

In [33]:
BookValue = BS[BS["fiscalDateEnding"] == "Total Assets"]["2022-12-31"].values[0] - BS[BS["fiscalDateEnding"] == "Total Liabilities"]["2022-12-31"].values[0]
print(f"Book Value is {BookValue} in 2022")

Book Value is 22021000000.0 in 2022

5.

In [34]:
Formulas.iloc[4] # Book Value / Outstaning Share

dataCode                              bvps
name                  Book Value Per Share
description      Book Value per each share
statementType                     overview
units                                    $
Name: 4, dtype: object

In [35]:
BVPS = BookValue / BS[BS["fiscalDateEnding"] == "Common Stock Shares Outstanding"]["2022-12-31"].values[0]
print(f"Book Value Per Share is {BVPS} in 2022")

Book Value Per Share is 24.303272249369005 in 2022

6.

In [36]:
Formulas.iloc[5]

dataCode                 revenue
name                     Revenue
description              Revenue
statementType    incomeStatement
units                          $
Name: 5, dtype: object

In [37]:
Revenue = IS[IS["fiscalDateEnding"] == "Total Revenue"]["2022-12-31"].values[0]
print(f"Revenue is {Revenue} in 2022")

Revenue is 60530000000.0 in 2022

7.

In [38]:
Formulas.iloc[6] # (Net Income - Preferred Dividends) / weighted average number of shares outstanding ???????

dataCode                             epsDil
name             Earnings Per Share Diluted
description          EPS for diluted shares
statementType               incomeStatement
units                                     $
Name: 6, dtype: object

In [39]:
epsDil = (IS[IS["fiscalDateEnding"] == "Net Income"]["2022-12-31"].values[0] - CF[CF["fiscalDateEnding"] == "Dividend Payout"]["2022-12-31"].values[0]) / BS[BS["fiscalDateEnding"] == "Common Stock Shares Outstanding"]["2022-12-31"].values[0]
print(f"Earning Per Share Diluted is {epsDil} in 2022")

Earning Per Share Diluted is -4.755587853527589 in 2022

8.

In [40]:
Formulas.iloc[7]  # Net Income

dataCode                  netinc
name                  Net Income
description           Net income
statementType    incomeStatement
units                          $
Name: 7, dtype: object

In [43]:
NetIncome = IS[IS["fiscalDateEnding"] == "Net Income"]["2022-12-31"].values[0]
print(f"Net Income is {NetIncome} in 2022")

Net Income is 1639000000.0 in 2022

9.

In [41]:
Formulas.iloc[8] # (Net Profit / Revenue) *  100

dataCode                                              profitMargin
name                                                 Profit Margin
description      This field is marked for DEPRECATION. Please u...
statementType                                             overview
units                                                            %
Name: 8, dtype: object

In [44]:
profitMargin = (NetIncome / Revenue) * 100  # General Profit Margin
print(f"Profit Margin is {profitMargin} in 2022")

Profit Margin is 2.7077482240211466 in 2022

10.

In [45]:
Formulas.iloc[9] #(Current Period Revenue - Prior Period revenue) / Prior period revenue

dataCode                                       revenueQoQ
name                                   Revenue QoQ Growth
description      Revenue Quarter-over-Quarter Growth rate
statementType                                    overview
units                                                   %
Name: 9, dtype: object

In [46]:
RQoq = ((Revenue - IS[IS["fiscalDateEnding"] == "Total Revenue"]["2021-12-31"].values[0]) / IS[IS["fiscalDateEnding"] == "Total Revenue"]["2021-12-31"].values[0]) * 100
print(f"Revenue Quarter-over-Quarter Growth Rate is {RQoq} in 2022")

Revenue Quarter-over-Quarter Growth Rate is 5.544899738448125 in 2022

11.

In [47]:
Formulas.iloc[10] # Debt / Equity

dataCode                   debtEquity
name             Debt to Equity Ratio
description         Debt/Equity ratio
statementType                overview
units                        No Units
Name: 10, dtype: object

In [48]:
#  (short-term debt + long-term debt) - (cash + cash equivalents)
TotalDebt = (BS[BS["fiscalDateEnding"] == "Short Term Debt"]["2022-12-31"].values[0] + BS[BS["fiscalDateEnding"] == "Long Term Debt"]["2022-12-31"].values[0]) - BS[BS["fiscalDateEnding"] == "Cash And Cash Equivalents At Carrying Value"]["2022-12-31"].values[0]
TotalDebt

44064000000.0

In [49]:
DE_Ratio = (TotalDebt / BS[BS["fiscalDateEnding"] == "Total Shareholder Equity"]["2022-12-31"].values[0])
print(f"Debt and Equity Ratio is {DE_Ratio} in 2022")

Debt and Equity Ratio is 2.008020415603354 in 2022

12.

In [50]:
Formulas.iloc[11]  # Gross Profit / Revenue

dataCode                                               grossMargin
name                                                  Gross Margin
description      The margin of good sold, basically how much of...
statementType                                             overview
units                                                            %
Name: 11, dtype: object

In [51]:
grossMargin = (IS[IS["fiscalDateEnding"] == "Gross Profit"]["2022-12-31"].values[0] / Revenue) * 100
print(f"Gross Margin is {grossMargin} in 2022")

Gross Margin is 54.00132165868165 in 2022

13.

In [40]:
Formulas.iloc[12] # Net Income / Total Sahreholder Equity

dataCode                                                       roe
name                                          Return on Equity ROE
description      Return on Shareholder's equity; ROE=Net Income...
statementType                                             overview
units                                                            %
Name: 12, dtype: object

In [41]:
ROE = NetIncome / BS[BS["fiscalDateEnding"] == "Total Shareholder Equity"]["2022-12-31"].values[0]
print(f"Rate Of Equity is {ROE} in 2022")

Rate Of Equity is 0.07469012030623405 in 2022

14.

In [42]:
Formulas.iloc[13]  # Current Asset / Current Liabilities

dataCode                                              currentRatio
name                                                 Current Ratio
description      Ability for a company to pay off its short-ter...
statementType                                             overview
units                                                     No Units
Name: 13, dtype: object

In [43]:
CurrentRaito = BS[BS["fiscalDateEnding"] == "Total Current Assets"]["2022-12-31"].values[0] / BS[BS["fiscalDateEnding"] == "Total Current Liabilities"]["2022-12-31"].values[0]
print(f"Current Ratio is {CurrentRaito} in 2022")

Current Ratio is 0.924234248531979 in 2022

15.

In [44]:
Formulas.iloc[14]

dataCode                                                    fxRate
name                                                       FX Rate
description      The exchange rate used for the conversion of f...
statementType                                             overview
units                                                     No Units
Name: 14, dtype: object

In [45]:
USDTRY = yf.Ticker("TRY=X").history(period="min")["Close"].values[0]
print(f"1 USA Dollar is {USDTRY} TurkishLira")

1 USA Dollar is 26.965099334716797 TurkishLira

16.

In [48]:
Formulas.iloc[16]

dataCode                                           piotroskiFScore
name                                             Piotroski F-Score
description      0-9 point scale to determine strength of compa...
statementType                                             overview
units                                                     No Units
Name: 16, dtype: object

17.

In [49]:
Formulas.iloc[17] # Long-term Debt / Equity

dataCode               longTermDebtEquity
name             Long-term Debt to Equity
description      Long term debt to equity
statementType                    overview
units                            No Units
Name: 17, dtype: object

In [50]:
LDE = BS[BS["fiscalDateEnding"] == "Long Term Debt"]["2022-12-31"].values[0] / BS[BS["fiscalDateEnding"] == "Total Shareholder Equity"]["2022-12-31"].values[0]
print(f"Long-Term Debt Equity Ratio is {LDE} in 2022")

Long-Term Debt Equity Ratio is 2.1504739336492893 in 2022

18.

In [51]:
Formulas.iloc[18] # Operating Income / Revenue

dataCode                                                  opMargin
name                                              Operating Margin
description      Operating margin, or how much money a company ...
statementType                                             overview
units                                                            %
Name: 18, dtype: object

In [52]:
OPMarign = IS[IS["fiscalDateEnding"] == "Operating Income"]["2022-12-31"].values[0] / Revenue
print(f"Operating Margin is {OPMarign} in 2022")

Operating Margin is 0.10586486039980175 in 2022

19.

In [53]:
Formulas.iloc[19]

dataCode                                                    epsQoQ
name                                 Earnings Per Share QoQ Growth
description      Earnings Per Share Quarter-over-Quarter Growth...
statementType                                             overview
units                                                            %
Name: 19, dtype: object

QOQ compares a change in performance between one fiscal quarter and the previous fiscal quarter.

EPSQoQ is unknown in that here

In [133]:
EPSDiv_1 = IS[IS["fiscalDateEnding"] == "Net Income"]["2022-12-31"].values[0] - CF[CF["fiscalDateEnding"] == "Dividend Payout"]["2022-12-31"].values[0]  
EPSDiv_2 = BS[BS["fiscalDateEnding"] == "Common Stock Shares Outstanding"]["2022-12-31"].values[0]

EPS = EPSDiv_1 / EPSDiv_2
EPS

-4.755587853527589

20.

In [54]:
Formulas.iloc[20] # Current Stock Price / Earning Per Share

dataCode                         peRatio
name             Price to Earnings Ratio
description                    P/E Ratio
statementType                   overview
units                           No Units
Name: 20, dtype: object

In [135]:
IBM_CurrentStockPrice = yf.Ticker("IBM").history(period="min")["Close"].values[0]
IBM_CurrentStockPrice

143.3300018310547

In [137]:
PERatio = IBM_CurrentStockPrice / EPS
print(f"Price To Earninigs Ratio is {PERatio} in 2022")

Price To Earninigs Ratio is -30.13928167150475 in 2022

21.

In [55]:
Formulas.iloc[21]

dataCode                                               shareswaDil
name                               Weighted Average Shares Diluted
description      Used to calculated diluted EPS. Considers all ...
statementType                                      incomeStatement
units                                                     No Units
Name: 21, dtype: object

Weighted Average Shares Diluted is unknown in that here

22.

In [56]:
Formulas.iloc[22] # (Net Income - Dividend) / Average Outstanding Shareholder

dataCode                                            eps
name                                 Earnings Per Share
description      Earnings per basic share (not diluted)
statementType                           incomeStatement
units                                                 $
Name: 22, dtype: object

* Look at Number 19 for Step

In [134]:
print(f"Earning Per Share is {EPS} in 2022")

Earning Per Share is -4.755587853527589 in 2022

23.

In [60]:
Formulas.iloc[25]  # Operating Cash Flow - Capital Expenditures (Simplest Way)

dataCode                                              freeCashFlow
name                                                Free Cash Flow
description      Operating Cash Flow - Capex, How much cash is ...
statementType                                             cashFlow
units                                                            $
Name: 25, dtype: object

In [139]:
FreeCashFlow = CF[CF["fiscalDateEnding"] == "Operating Cashflow"]["2022-12-31"].values[0] - CF[CF["fiscalDateEnding"] == "Capital Expenditures"]["2022-12-31"].values[0] 
print(f"Free Cash Flow is {FreeCashFlow} in 2022")

Free Cash Flow is 9089000000.0 in 2022