In [2]:
import pandas as pd

df = pd.read_json("invoice_rows.json")

df

,Trading Partner,Invoice Number,Invoice Date,Due Date,Amount,Tax Amount,Invoice Status
0,zonex1,Bill58740,2024-09-12,2024-10-12,5125000,259,Cancelled
1,Dream Company,1253508,2024-08-13,2024-09-06,890,12,Hold
2,ABC Inc.,00000000000,2024-08-18,2024-08-30,5000,50,Pending Payment
3,Fly To Moon,FTM50842,2024-08-04,2024-08-16,455,8,Paid